<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory name="">
  <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
  <property name="hibernate.connection.password">suva</property>
  <property name="hibernate.connection.url">jdbc:postgresql://imbi.ld.ttu.ee/R61</property>
  <property name="hibernate.connection.username">t083851</property>
  <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
  <property name="current_session_context_class">thread</property> 
 </session-factory>
</hibernate-configuration>
